<!DOCTYPE html>
<html>
    <head>
        <title>
    	   @mustefaj
        </title>

        <link rel="stylesheet" href="{{ site.assets }}/css/typeset.css" />
        <link rel="stylesheet" href="{{ site.assets }}/css/style.css" />
        <link rel="stylesheet" href="{{ site.assets }}/css/font-awesome.css" />
        <!-- Including Adobe's Source Sans Pro from Google Web Fonts: -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900' rel='stylesheet'type='text/css'>

    </head>

    <body>
        <header>
            <div class="container">
                <div id="title">
                    <h1>
                        <a href="/">@mustefaj / re:defining experiences</a>
                    </h1>
                </div>
                <ul>
                    {% for link in site.links %}
                    <li>
                        <a href="{{ link.url }}" target="{{ link.target }}"> 
                             <i class="{{ link.icon }}"></i> 
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>                
        </header>

        <!--<nav>
            <ul>
                {% for link in site.navigation %}
                <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
        </nav>-->

        <!-- Content to be defined in templates that extend base.html -->
        <div class="container">
            {% block content %}
                {{ page.content }}
            {% endblock %}
        </div>

        <!-- This footer will appear in all tempaltes that extend base.html -->
        <footer>
            <div class="container">
                <section id="credits" class="left">
                    <h2>Credits</h2>
                    <p>
                        If you've enjoyed reading, share articles using your favorite platform.
                        <br />
                        <br />
                        I recommend <span class="highlight"> <a href="http://twitter.com" target="_blank">twitter</a></span> or <span class="highlight"> <a href="http://alpha.app.net" target="blank_">app.net</a></span>
                    </p>
                    <p>
                        <em>I'd</em> like to follow <em>you</em> on twitter; send me a tweet <a href="http://twitter.com/mustefaj" target="_blank" class="highlight">@mustefaJ </a> &nbsp; or <span class="highlight"><a href="mailto:mail@mustefa.com" target="_blank"> &nbsp;e-mail </span></a> &nbsp; me to talk about shared interests.
                    </p>
                </section>

                <section class="left">
                    <h2>Colophon</h2>
                    <p>
                        This site was designed & coded on a Macbook Pro using <span class="highlight"><a href="http://www.sublimetext.com/2" target="_blank">Sublime Text 2</a></span>. Most articles are written on an iPad mini <span class="highlight"><a href="http://www.iawriter.com/" target="_blank">using iA writer</a></span>.
                    </p>
                    <p>
                        You can find the source code on <span class="highlight"><a href="https://github.com/mustefa/mustefa.github.com" target="_blank">GitHub</a>.</span>  It is created using <span class="highlight"><a href="http://jekyllrb.com/" target="_blank">Jekyll</a>.</span>
                    </p>
                    <p>
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">re:defining experiences</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://mustefa.com" property="cc:attributionName" rel="cc:attributionURL">Mustefa Jo'shen</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License 2012</a>.
                    </p>
                </section>
            </div>
        </footer>
    </body>
</html>