{% extends "_layouts/base.html" %}

{% block title %}
	{{ page.title }}
{% endblock %}

{% block content %}

<section>
	<span class="left post-head article-head">
		<span class="date">{{ page.pubdate }}, {{ page.year }}</span>
		<br />
		<b>{{ page.title }}</b>
		<p>
			tl;dr: <span class="highlight-green"> "{{ page.tldr }}"</span>
		</p>

		{{ page.tags }}
		{% for cat in category %}
			<span class="date">
				{{ cat }}&nbsp;
			</span>
		{% endfor %}
	</span>



	<span class="right static-shot">
        <img src="{{ site.assets }}/images/post.png">
    </span>

</section>

<section class="post">
	<article class="left">
		{{ content }}
	</article>
</section>
<section>
	{% include disqus.html %}
</section>

<section>
	<span class="left static-shot">
        <img src="{{ site.assets }}/images/designs.png">
    </span>
    <div class="right post-head">
    	<h3>Related Articles</h3>
		<ul>
		{% for post in site.related_posts %}
		    <li class="no-style">
		        <a href="{{ post.url }}">
		            <span class="date">{{ post.pubdate }}, {{ post.year }}</span>
		            <br />
		            <u><b>{{ post.title }}</b></u>
		        </a>
		    </li>
		    <br />
		{% endfor %}
		</ul>
	</div>
</section>
{% endblock %}

{% block credits %}
	<a href="https://alpha.app.net/intent/post?text=Check out this article on {{ page.title }}: {{ site.domain }}{{ page.url }}" target="blank_">
		app.net
	</a>
{% endblock %}
