{% extends "_layouts/base.html" %}

{% block content %}

<section>
	<span class="left post-shot">
        <img src="{{ site.assets }}/images/designs.png">
    </span>
	<span class="right post-head article-head">
		{{ page.pubdate }}, {{ page.year }}
		<br />
		<b>{{ page.title }}</b>
		<br />
		<br />
		"<em>{{ page.tldr }}</em>"
	</span>

</section>

<section class="post">
	<article class="left">
		{{ page.content }}
		- mustefa jo'shen
		<br />
		<br />
		<b><a href="/#posts">back to articles</a></b>
	</article>
</section>


{% endblock %}

