{% extends "_layouts/base.html" %}

{% block title %}
	{{ page.title }}
{% endblock %}

{% block content %}

<section>
	<span class="left post-head article-head">
		<span class="date">{{ page.pubdate }}, {{ page.year }}</span>
		<br />
		<br />
		<b>{{ page.title }}</b>
		<br />
		<br />
		"<em>{{ page.tldr }}</em>"
	</span>
	<span class="right static-shot">
        <img src="{{ site.assets }}/images/post.png">
    </span>
</section>

<section class="post">
	<article class="left">
		{{ page.content }}
		<p>- mj</p>
	</article>
	Comment on 
	<a href="https://alpha.app.net/intent/post?text=Hey @mustefaJ+I+just+read+{{ site.domain }}{{ page.url }}+and..." target="blank_">
		App.net
	</a>

	&nbsp;or 

	<a href="https://twitter.com/intent/tweet?text=Hey @mustefaj, I+just+read+{{ site.domain }}{{ page.url }}+and..." class="">
		Twitter
	</a>
	<!-- 
	&nbsp;&nbsp;&nbsp; / &nbsp;&nbsp; <a href="/#posts">List of Articles</a>
	-->		
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>

{% endblock %}
{% block credits %}
	<a href="https://alpha.app.net/intent/post?text=Check out this article on {{ page.title }}: {{ site.domain }}{{ page.url }}" target="blank_">
		app.net
	</a>
{% endblock %}
