h1, h2, h3, h4 {
	margin-top: 0px;
}

/** Structure **/

article ul li {
	list-style: none;
}

article ul {
		padding-left: 0px;
	margin-left: 0px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	margin: 0 auto;
	margin-top:-20px;
	color: #282828;
	background: #fdfdfd;
}

section {
	padding: 30px;
	overflow: hidden;
	disply: block;
	clear: both;
	border-bottom: 1px dotted silver;
}

.container {
	margin: 0 auto;
	width: 610px;
}

article {
	line-height: 28px;
}

.article-head {
	padding-top: 20px;
}

/***article p+p {
	text-indent: 25px;
}***/

article p:first {
	text-indent: 0px;
}

.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}

.colophon img {
	width: 20px;
	margin-right: 2px;
}

.colophon a {
	text-decoration: none;
}

/** Text **/

p {
	display: block;
}

a {
	color: #353535;
}

i {
	color: #d4dbe4;
}

.no-style {
	list-style: none;
}

.date {
	color: #5d5d5d;
}

/** posts **/ 
.post-head {
	max-width: 380px;
}

#posts ul {
	margin-bottom: 0px;
}

#posts ul li {
	list-style: none;
	margin-bottom: 20px;
}

#posts ul li:last-child {
	border-bottom: none;
	margin-bottom: 0px;
}

#posts a{
	text-decoration: none;
}

/** Header **/
header {
	padding: 20px;
	height: 190px;
	background-color: #353535;
	color: #f7f7f7;
	height:100%;
	box-shadow: 1px 1px 1px #000;
	overflow: hidden;
}

header h2 {
	margin-top: 20px;
}

header ul {
	margin-top: -10px;
	padding-left: 30px;
	margin-left:0px;
}

header ul li {
	list-style: none;
	font-size: 20px;
	float: left;
}

header a, i {
	color: #f1f1f1;
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
	transition:.2s;
	text-decoration: none;
}

header a:hover, i:hover {
	color: gold;
	cursor: pointer;
}

/** Shots **/

.inline-shot {
	position: relative;
	float: right;
	margin-left: 20px;
}

/**This Duplicates .shot, Refactor later**/
.shot, .static-shot {
	height: 150px;
	overflow: hidden;
}

.shot {
	margin-top: 30px;
}

.shot img {
	position: relative;
}

section:hover .shot img{
	top: -150px;
	-o-transition: top .5s ease-in-out;
	-ms-transition: top .5s ease-in-out;
	-moz-transition: top .5s ease-in-out;
	-webkit-transition: top .5s ease-in-out;
}

/** Highlights **/

.highlight {
	background: #e3efff;
}

.highlight-green {
	background: #d1ffe0;
}

.highlight-none {
	background: white;
}

.post:hover .post-description {
	background: #e3efff;
}