{% extends "_layouts/base.html" %}

{% block content %}
   	
    <section id="posts">
       <div class="left list-shot">
            <img src="{{ site.assets }}/images/designs.png">
        </div>
        <div class="right">
    	    
            <h2>Writing</h2>
            <h3>re:definitions of experience - 2012</h3>

            {% for post in site.posts %}
            <div class="post">
                    <a href="{{ post.url }}">
                    {{ post.pubdate }}
                    <br />
                    <u><b>{{ post.title }}</b></u>
                    <br />
                    <span class="post-description">
                        {{ post.tldr }}
                    </span>
                    <br />
                    <br />
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    
    {{ page.content }}

{% endblock %}