{% extends "_layouts/base.html" %}

{% block content %}
   	
    <section id="posts">
       <div class="left list-shot">
            <img src="{{ site.assets }}/images/designs.png">
        </div>
        <div class="right post-head">
            <h2>re:definitions</h2>

            <h3>2012</h3>
            <ul>
                {% for post in site.posts %}
                <li class="post">
                    <a href="{{ post.url }}">
                        {{ post.pubdate }}
                        <br />
                        <u><b>{{ post.title }}</b></u>
                        <br />
                        <span class="post-description">
                            "{{ post.tldr }}"
                        </span>
                        <br />
                        <br />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    
    {{ page.content }}

{% endblock %}