{% extends "_layouts/base.html" %}

{% block content %}
       	<section>
            <span class="left post-head">
                <h2>Hi there,</h2> 
                My name is Mustefa Jo'shen & 
                <br />I work as a
                User Experience Designer in Toronto
                <p>
                I'd previously led the design for 
                <a href="http://www.sdelements.com" target="_blank" class="highlight">
                    SD Elements
                </a>
                , a security application, and now do the same <br /> for
                <a href="http://www.tucows.com" target="_blank" class="highlight">Tucows Inc's</a> flagship products and services.
                </p>
            </span>
        
        <span class="right list-shot">
            <img src="{{ site.assets }}/images/me.png">
        </span>
    </section>

    <section id="posts">
       <div class="left list-shot">
            <img src="{{ site.assets }}/images/designs.png">
        </div>
        <div class="right post-head">
            <h2>re:definitions</h2>

            <ul>
                {% for post in site.posts %}
                <li class="post">
                    <a href="{{ post.url }}">
                        {{ post.pubdate }}, {{ post.year }}
                        <br />
                        <u><b>{{ post.title }}</b></u>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    
    {{ page.content }}

{% endblock %}