{% extends "_layouts/base.html" %}

{% block Header-Content %}

{% endblock %}

{% block content %}

	<section>
		<span class="left post-shot">
            <img src="{{ site.assets }}/images/designs.png">
        </span>
		<span class="right post-head article-head">
			<h2>re:definition {{ page.number }}</h2>
			{{ page.pubdate }}, {{ page.year }}
			<br />
			<b>{{ page.title }}</b>
			<br />
			<br />
				<span class="highlight-green">
				"{{ page.tldr }}"
				</span>
		</span>

	</section>

	<section class="post">
		<article class="left">
			{{ page.content }}	
		</article>

		<h3>
			<a href="/">more articles</a>
		</h3>

	</section>


{% endblock %}

